<section class="banner">
  <img src="../../../assets/img/5e1cc01f30965-capadocia-turquia.jpg" alt="">
</section>

<div class="menu">
 
<div class="navigation">
  <ul>
    <li class="list">
      <a href="/home">
      <span class="icon">
        <i class="fa-solid fa-house"></i>
      </span>
      <span class="text">Home</span>
    </a>
    </li>
    
    <li class="list">
      <a href="/noticias">
      <span class="icon">
        <i class="fa-regular fa-newspaper"></i>
      </span>
      <span class="text">Noticias</span>
    </a>
    </li>
    <li class="list">
      <a href="#">
      <span class="icon">
        <i class="fa-solid fa-house"></i>
      </span>
      <span class="text">hola2</span>
    </a>
    </li>
    <li class="list">
      <a href="/quien-soy">
      <span class="icon">
        <i class="fa-regular fa-user"></i>
      </span>
      <span class="text">Quien soy</span>
    </a>
    </li>
  </ul>
</div>
</div>