

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
}
.navigation{
    
    position: fixed;
    top: 540px;
    width: 400px;
    height: 70px;
    background: #94a3b8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 40px;
}
.navigation ul{
    display: flex;
    width: 350px;
    justify-content: center;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigation ul li a .icon{
position: relative;
display: block;
line-height: 75px;
font-size: 1.5rem;
text-align: center;
transition: 0.5s;
color: #ffffff;

}
.navigation ul li:hover a .icon{
transform: translateY(-50px);
}
.navigation ul li a .text{
    position: absolute;
    color: #ffffff;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.5ms;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.navigation ul li:hover a .text{
opacity: 1;
}