<main class="py-6 px-4 sm:p-6 md:py-10 md:px-24">
    <section class="shadow-xl rounded-lg mb-7 contenedor">
      <div class="card">
        <div class="header">
          <div class="imagen_header">
            
          </div>
          <div class="imagen_foto">
                   
          </div>
        </div>
      </div>
    
    <section class="contacto">
      
      <p class="text-xl font-medium">Andres Rojas</p>
    <div class="botones">
      <a href="mailto:domenicofranco.df@gmail.com?Subject=Quisiera%20mas%20información%20"><button type="button" class="bg-slate-400 text-white text-sm leading-6 font-medium py-2 px-3 rounded-lg shadow-2xl hover:bg-slate-600 duration-300">
        <i class="fa-regular fa-envelope mr-1 "></i>Message</button></a>
       <a href="https://api.whatsapp.com/send/?phone=16478048259"> <button type="button"  class="bg-slate-400 text-white text-sm leading-6 font-medium py-2 px-3 rounded-lg shadow-2xl hover:bg-slate-600 duration-300">
          <i class="fa-brands fa-whatsapp mr-1"></i>WhatApp</button></a>
  </div>
    </section>
    <section>
    <nav class="mt-4">
      <ul class="font-semibold">
        <li class="text-xl"><a href="/noticias">Noticias</a></li>
        <li class="text-xl"><a href="#servicios">Servicios</a></li>
        <li class="text-xl"><a href="/paises">Pais/Visa</a></li>
        <li class="text-xl"><a href="#servicios">Quien soy</a></li>
      </ul>
    </nav>
  </section>
  </section>
  
  
      
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iusto adipisci, officia deleniti voluptate ex, est autem tempora dolores ad sed quisquam a et beatae molestiae ipsa, fugit aperiam inventore?
  
  </p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius earum mollitia quod impedit neque quis deserunt provident rerum, voluptatibus, repudiandae iste reiciendis. Illum accusamus minus ipsam quia ducimus eius non.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio neque unde accusantium, totam a molestiae exercitationem laborum sequi, qui perspiciatis incidunt quam! Ratione excepturi rerum suscipit eaque molestias iusto facilis.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iusto adipisci, officia deleniti voluptate ex, est autem tempora dolores ad sed quisquam a et beatae molestiae ipsa, fugit aperiam inventore?
  
  </p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius earum mollitia quod impedit neque quis deserunt provident rerum, voluptatibus, repudiandae iste reiciendis. Illum accusamus minus ipsam quia ducimus eius non.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio neque unde accusantium, totam a molestiae exercitationem laborum sequi, qui perspiciatis incidunt quam! Ratione excepturi rerum suscipit eaque molestias iusto facilis.</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iusto adipisci, officia deleniti voluptate ex, est autem tempora dolores ad sed quisquam a et beatae molestiae ipsa, fugit aperiam inventore?
  
  </p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius earum mollitia quod impedit neque quis deserunt provident rerum, voluptatibus, repudiandae iste reiciendis. Illum accusamus minus ipsam quia ducimus eius non.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio neque unde accusantium, totam a molestiae exercitationem laborum sequi, qui perspiciatis incidunt quam! Ratione excepturi rerum suscipit eaque molestias iusto facilis.</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iusto adipisci, officia deleniti voluptate ex, est autem tempora dolores ad sed quisquam a et beatae molestiae ipsa, fugit aperiam inventore?
  
  </p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius earum mollitia quod impedit neque quis deserunt provident rerum, voluptatibus, repudiandae iste reiciendis. Illum accusamus minus ipsam quia ducimus eius non.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio neque unde accusantium, totam a molestiae exercitationem laborum sequi, qui perspiciatis incidunt quam! Ratione excepturi rerum suscipit eaque molestias iusto facilis.</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iusto adipisci, officia deleniti voluptate ex, est autem tempora dolores ad sed quisquam a et beatae molestiae ipsa, fugit aperiam inventore?
  
  </p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius earum mollitia quod impedit neque quis deserunt provident rerum, voluptatibus, repudiandae iste reiciendis. Illum accusamus minus ipsam quia ducimus eius non.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio neque unde accusantium, totam a molestiae exercitationem laborum sequi, qui perspiciatis incidunt quam! Ratione excepturi rerum suscipit eaque molestias iusto facilis.</p>
  <div class="menu">
 
    <div class="navigation">
      <ul>
        <li class="list">
          <a href="/home">
          <span class="icon">
            <i class="fa-solid fa-house"></i>
          </span>
          <span class="text">Home</span>
        </a>
        </li>
        
        <li class="list">
          <a href="/noticias">
          <span class="icon">
            <i class="fa-regular fa-newspaper"></i>
          </span>
          <span class="text">Noticias</span>
        </a>
        </li>
        <li class="list">
          <a href="#">
          <span class="icon">
            <i class="fa-solid fa-house"></i>
          </span>
          <span class="text">hola2</span>
        </a>
        </li>
        <li class="list">
          <a href="/quien-soy">
          <span class="icon">
            <i class="fa-regular fa-user"></i>
          </span>
          <span class="text">Quien soy</span>
        </a>
        </li>
      </ul>
    </div>
    </div>
  </main>
